@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* outline: 2px solid red; */
  font-size: 20px;
}

:root {
  --color-primary: #ec6a5e;
  --color-secondary: #f6f6f6;
  --color-third: #34384c;
  --color-fourth: #4eb0b1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, #040506, #0c0d12, #1c1e29, #34384c);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  font-family: 'Source Sans Pro', sans-serif;
}

#page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2% 8%;
  position: fixed;
  background-color: #080a0e;
  box-shadow: 25px 40px 214px -20px rgba(250, 52, 150, 1);
}

#logo {
  display: flex;
}

#log-icon {
  background-image: url('./wave.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 65px;
}

#logo h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  color: white;
  font-style: italic;
}

#navbar {
  display: flex;
}

#nav-links {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

#nav-links li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#nav-links li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 1.3rem;
}

#nav-links li + li + li a {
  color: #fa3496;
  font-size: 1rem;
}

#home-btn {
  color: #fff;
  display: flex;
  gap: 0.3rem;
  font-weight: 600;
}

#artist-counter {
  order: 1;
  font-size: 1.3rem;
}

#page-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #1c1e29;
  padding: 2% 8%;
  color: #fff;
}

#artist-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

#list {
  margin: 15rem 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#list h2 {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1c1e29;
  padding: 0.8rem 1rem 2rem;
  border-radius: 10px 155px 10px 10px;
  color: #fff;
  width: 85%;
}

.artist-img {
  box-shadow: 0 0 80px -10px rgba(250, 52, 150, 1);
  border-radius: 0 167px 10px 10px;
}

.artist-info {
  display: flex;
  flex-direction: column;
}

.top-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2.5rem;
}

.top-info h3 {
  font-size: 1.3rem;
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fa-heart {
  justify-self: end;
  font-size: 27px;
  cursor: pointer;
}

.fa-heart.liked {
  color: #fcb424;
}

.likes {
  flex: 80%;
  text-align: right;
}

/* comment pop up styles */
.comment-popup {
  height: calc(100vh - 50px);
  background-color: var(--color-third);
  border-radius: 5px;
  margin: 10px 20px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 90%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.comment-wrapper {
  outline: 2px solid pink;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}

/* div grouping image & title */
#grpImgH1 {
  text-align: center;
  color: white;
}

#close-modal {
  all: unset;
  height: 40px;
  width: 40px;
  color: white;
  cursor: pointer;
  font-size: 2em;
}

.artist-image {
  /* outline:1px solid red; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#commet-image {
  border-radius: 5px;
}

div.hide {
  display: none;
}

div.show {
  display: flex;
}

.more,
#subscribe-btn {
  width: 120px;
  background-color: transparent;
  border: none;
  border: 2px solid #fa3496;
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
  align-items: flex-start;
  font-family: inherit;
  font-weight: 600;
  color: #fa3496;
}

#subscribe-btn {
  width: 120px;
}
