@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* outline: 2px solid red; */
  font-size: 20px;
}

:root {
  --color-primary: #ec6a5e;
  --color-secondary: #f6f6f6;
  --color-third: #34384c;
  --color-fourth: #4eb0b1;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(180deg, #040506, #0c0d12, #1c1e29, #34384c);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
}

#page-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2% 8%;
  position: fixed;
  background-color: #0c0d12;
}

#logo {
  display: flex;
}

#log-icon {
  background-image: url('./wave.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 65px;
}

#logo h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
  color: white;
  font-style: italic;
}

#navbar {
  display: flex;
}

#nav-links {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

#nav-links li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#nav-links li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: bold;
}

#page-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-fourth);
  padding: 2% 8%;
  color: #fff;
}

#artist-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

#list {
  margin-top: 12rem;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1c1e29;
  padding: 0.8rem 0.8rem 2rem 0.8rem;
  border-radius: 3%;
  color: #fff;
}

.artist-img {
  box-shadow: 0 0 58px 3px rgba(250, 53, 150, 0.77);
}

.artist-info {
  display: flex;
  flex-direction: column;
}

.top-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}

.fa-heart {
  justify-self: end;
  font-size: 25px;
}

.likes {
  flex: 80%;
  text-align: right;
}
